<div class="question">
  <form [formGroup]="myForm">
    <h2>問題　<input readonly type="text" formControlName="question"/></h2>
  </form>
</div>

<div class="hint">
  <form [formGroup]="myForm">
    <h3>・ヒント1　図鑑番号<input formControlName="hint1" readonly>番のポケモンです。</h3>
    <h3>・ヒント2　<input formControlName="hint2" readonly>のポケモンです。</h3>
    <h3>・ヒント3　特性は <input formControlName="hint3" readonly> です。</h3>
  </form>
</div>

<div class="answer">
    <button type="button"  (click)="register(answer1)">
      {{answer1}}
    </button>

     <button type="button" (click)="register(answer2)">
      {{answer2}}
    </button>

      <button type="button" (click)="register(answer3)">
      {{answer3}}
    </button>

    <button type="button" (click)="register(answer4)">
      {{answer4}}
    </button>
</div>




