*{
  margin: 0;
  padding: 0;
}



.question input{
  padding: 20px 0;
  width: 700px;
  border: none;
  color: #EF810F;
}

.question{
  padding: 50px 30px;
}


// .answer input{
//   width: 100px;
//   background-color: chocolate;
//   font-size: 20px;
//   color: white;
//   border: none;
// }

// .answer input:hover{
//   background-color: blue;
// }

.hint{
  border: 5px solid #4C8DCB;
  padding: 50px 0;
  border-radius: 30px;
  margin: 20px;
}

.hint input{
  width: 250px;
  border: none;
  color: #EF810F;
}

.answer button{
  margin-top: 50px;
  margin-left: 45px;
  border: none;
  color: white;
  background-color: #4C8DCB;
  padding: 10px 50px;
  border-radius: 10px;
}

.answer button:hover{
  background-color: #EF810F;
}


