body{
  background-color: #E6E6E6;
}

.content{
  display: flex;
  width: 1200px;
  margin: auto;
}

main{
  width: 250px;
  height: auto;
}

aside{
  width: 930px;
  margin: 20px 0px 0px auto;
  background-color: white;
  border-radius: 20px;
}
